* {
    margin: 0;
    padding: 0;
}

body,html {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background: #e8e8e8;
    overflow-x: hidden;
}

/* -----------------------------------TITLE-------------------------------------*/

/* -----------BACKGROUND----------- */

#title {
    background-image: url('./images/a7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    -webkit-transition: background-image 2s ease-in-out;
    transition: background-image 2s ease-in-out;
}

/* -----------SLIDESHOW----------- */

#slideshow {
    display: flex;
    justify-content: space-evenly;
    height: 31rem;
    width: auto;
}

.slider {
    display: none;
    height: 31rem;
    animation: fade 1.5s linear;
    transition: all 0.5s;
}

.slider img {
    width: 100%;
}


@keyframes fade {
    from {
        opacity: 0.5;
    } 
    to {
        opacity: 1;
    }
}

/* -----------NAVBAR----------- */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding-top: 1.25rem;
    margin-inline: 1.25rem;
}

#navli {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    gap: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.navl {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.navl:hover {
    color: #f0e7da;
    text-shadow: 0 0 0.25rem #FFEBC1;
}

.searchbox {
    background: transparent;
    border-radius: 2rem;
    height: auto;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translateY(-0.22rem);
    transition: all 0.5s;
}

.searchbox input {
    border-radius: 2rem;
    border: none;
    height: 1.75rem;
    text-align: right;
    width: 0;
    color: black;
    transition: all 0.5s;
    margin-inline: 0.5rem;
}

.searchbox img {
    width: 2rem;
    filter: invert(1);
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 0.225rem;
}

#navicons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    padding: 1rem 0 0 1.25rem;
    transition: all 0.5s;
}

.navico img {
    width: 2rem;
    filter: none;
    transition: 0.5s;
}

.navico img:hover {
    filter: invert(1);
}

#login {
    cursor: pointer;
    margin: -0.45rem 1rem 0 0.5rem;
    border: none;
    text-align: center;
    border-radius: 50rem;
    width: 8rem;
    height: 1.75rem;
    background-color: #ef5734;
    background-image: linear-gradient(-15deg, #ef5734 0%, #ffcc2f 74%);
    color: #090909;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

#login:hover {
    filter: invert(1);
}

/* -----------TITLE PAGE----------- */

#logo {
    padding: 10% 2% 10% 0;
    font-size: 8rem;
    font-family: 'Kaushan Script', cursive;
    color: #e8e8e8;
    text-align: center;
    cursor: default;
}

.shopcont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}

#shopnow {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    transition: all 0.3s;
}

#shopnow-ico {
    width: 3rem;
    cursor: pointer;
    transition: all 0.3s;
}

#shopnow-text {
    cursor: pointer;
    padding: 0.25rem 0;
    border: none;
    text-align: center;
    border-radius: 1.25rem;
    width: 0;
    height: 1.5rem;
    background-color: #ff0000;
    background-image: linear-gradient(315deg, #ffed00 0%, #ff0000 74%);
    color: rgba(255, 255, 255, 0);
    transition: 0.5s;
    font-size: 1rem;
    transition: all 0.75s;
    opacity: 0;
}

@keyframes glow1 {
    from {
        text-shadow: 0 0 1.25rem #090900;
    }
    
    to {
        box-shadow: 0 0 0.5rem #090909;
    }
}

/* -----------------------------------SHOP-------------------------------------*/

/* -----------CATEGORIES----------- */

#shop {
    display: grid;
    gap: 0.5rem;
    grid-template-areas: 
    'one three four five'
    'two three six six';
    margin-inline: 0.5rem;
    height: 80vh;
}

/* Category Card Design */
.cards {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards:nth-child(1) {
    grid-area: one;
}

.cards:nth-child(2) {
    grid-area: two;
}

.cards:nth-child(3) {
    grid-area: three;
}

.cards:nth-child(4) {
    grid-area: four;
}

.cards:nth-child(5) {
    grid-area: five;
}

.cards:nth-child(6) {
    grid-area: six;
}

/* .cards:nth-child(odd) {
    transform: rotate(15deg);
    margin-left: 16rem;
    box-shadow: -0.25rem 0.25rem 0.25rem rgba(0,0,0,20%);
}

.cards:nth-child(even) {
    transform: rotate(-15deg);
    margin-left: 42rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,20%);
} */

/* Category Card Image */
.cards img {
    width: 100%;
    transition: all 0.8s;
}

.cards:hover img {
    transform: scale(1.4);
    opacity: 0.5;
}

/* Category Card Overlay */
.overlay {
    opacity: 1;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
}

/* Category Card Overlay Text */
.card_text {
    background: rgba(255,255,255,0.7);
    color: #090909;
    width: 6rem;
    font-size: 1rem;
    padding: 0.5rem;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 0.25rem;
}

.cards:hover .card_text {
    color: white;
    background: #a64b2a;
    width: 11.25rem;
    opacity: 1;
}

.card_text span {
    position: relative;
    display: inline-block;
    transition: all 0.5s;
    opacity: 1;
}

.card_text span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1rem;
    transition: 0.5s;
}

.card_text:hover span {
    opacity: 1;
    padding-right: 1rem;
}

.card_text:hover span:after {
    opacity: 1;
    right: 0;
}

/* -----------PAGINATION----------- */

.paginator {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.paginator div {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator span {
    width: 12rem;
    height: 2.5rem;
    box-shadow: 0.4rem 0.4rem 0.75rem #c5c5c5, -0.4rem -0.4rem 0.75rem  #fff;
    transition: box-shadow 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    transition: all 0.3s;
}

#prev {
    color: rgba(0,0,0,1);
    border-radius: 2rem 0 0 2rem;
    box-shadow: 0px 0.4rem 0.75rem #c5c5c5, 0px -0.4rem 0.75rem  #fff;
}

#next {
    color: rgba(0,0,0,1);
    border-radius: 0 2rem 2rem 0;
    box-shadow: 0px 0.4rem 0.75rem #c5c5c5, 0px -0.4rem 0.75rem  #fff;
}

#prev:hover {
    box-shadow: 0px 0.4rem 0.75rem  #fff, 0px -0.4rem 0.75rem #c5c5c5;
}

#next:hover {
    box-shadow: 0px 0.4rem 0.75rem  #fff, 0px -0.4rem 0.75rem #c5c5c5;
}

#prev:active {
    font-size: 1.75rem;
    box-shadow: -0.4rem -0.4rem 0.75rem  #fff inset, 0.4rem 0.4rem 0.75rem #c5c5c5 inset;
}

#next:active {
    box-shadow: -0.4rem -0.4rem 0.75rem  #fff inset, 0.4rem 0.4rem 0.75rem #c5c5c5 inset;
    font-size: 1.75rem;
}

.paginator .filter {
    width: 3rem;
    height: 3rem;
    border-radius: 1.2rem;
    position: absolute;
    right: 5%;
    color: rgba(0,0,0,1);
    box-shadow: 0.2rem 0.2rem 0.5rem #c5c5c5, -0.2rem -0.2rem 0.5rem  #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.filter img {
    width: 1.75rem;
    height: 1.75rem;
    transition: all 0.3s;
}

.filter:hover {
    box-shadow: 0.2rem 0.2rem 0.5rem  #fff, -0.2rem -0.2rem 0.5rem #c5c5c5;
}

.filter:active {
    box-shadow: -0.4rem -0.4rem 0.75rem  #fff inset, 0.4rem 0.4rem 0.75rem #c5c5c5 inset;
}

.items-wrapper {
    display: none;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    transition: all 0.3s;
    background: transparent;
    width: 100vw;
    height: auto;
    margin-top: 1.5rem;
    animation: fade_filter 0.75s ease;
}

@keyframes fade_filter {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

.item-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.items-wrapper span {
    width: 12rem;
    box-shadow: 0.4rem 0.4rem 0.75rem #c5c5c5, -0.4rem -0.4rem 0.75rem  #fff;
    transition: box-shadow 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.3rem;
}

.menu-items {
    border-radius: 2rem;
    box-shadow: 0.4px 0.4rem 0.75rem #c5c5c5, -0.4px -0.4rem 0.75rem  #fff;
    position: relative;
}

.menu-items:hover {
    box-shadow: 0.4px 0.4rem 0.75rem  #fff, -0.4px -0.4rem 0.75rem #c5c5c5;
}

.menu-items:active {
    font-size: 1.1rem;
    box-shadow: -0.4rem -0.4rem 0.75rem  #fff inset, 0.4rem 0.4rem 0.75rem #c5c5c5 inset;
}
  
.dropdown-content {
    width: auto;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    font-size: 1.1rem;
    text-align: center;
    list-style: none;
    cursor: pointer;
    display: none;
    opacity: 0;
    animation: fade_filter 0.75s ease;
    transition: all 0.3s;
}

.dropdown-content li:hover {
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #c5c5c5, -0.2rem -0.2rem 0.5rem  #fff;
    padding: 0.25rem;
    width: auto;
}

.dropdown-content li:active {
    font-size: 0.9rem;
    box-shadow: -0.4rem -0.4rem 0.75rem  #fff inset, 0.4rem 0.4rem 0.75rem #c5c5c5 inset;
}

/* -----------SHOPPING CARDS----------- */

/* Shopping Card Heading */
.div_title {
    text-align: center;
    cursor: default;
    font-size: 1.5rem;
    padding: 3% 0 1% 0;
    font-weight: bold;
}

.div_subtitle {
    text-align: center;
    cursor: default;
    padding-bottom: 5%;
}

/* Shopping Card Design */

.cardcont {
    display: none;
    animation: fade_cardcont 0.75s ease;
    transition: all 0.5s;
}

@keyframes fade_cardcont {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

.blog {
    display: block;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-inline: 2rem;
}

.c {
    cursor: pointer;
    border-radius: 25% 0 25% 0;
    width: 16rem;
    box-shadow: 0.4rem 0.4rem 0.75rem #c5c5c5, -0.4rem -0.4rem 0.4rem  #fff;
    overflow: hidden;
    text-align: center;
    transition: all 0.5s;
    position: relative;
    filter: brightness(92.25%);
}

.c:hover {
    border-radius: 0 25% 0 25%;
    box-shadow: 0.4rem 0.4rem 0.4rem  #fff, -0.4rem -0.4rem 0.75rem #c5c5c5;
}

/* Shopping Card Image */
.c img {
    transition: 0.5s;
    display: block;
}

.c:hover img{
    transform: scale(1.2);
    opacity: 0.5;
}

/* Shopping Card Overlay */
.cardadd {
    width: 14%;
    opacity: 0;
    text-align: center;
    transition: 0.5s;
    position: absolute;
    top: 10%;
    left: 10%;
    transition: all 0.5s;
}

.cardwish {
    width: 14%;
    opacity: 0;
    text-align: center;
    transition: 0.5s;
    position: absolute;
    bottom: 10%;
    right: 10%;
    transition: all 0.5s;
}

.cardadd:hover {
    filter: brightness(0.8);
}

.cardwish:hover {
    filter: brightness(0.8);
}

.c:hover .cardadd {
    opacity: 1;
}

.c:hover .cardwish {
    opacity: 1;
}

.overlay1 {
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all .5s;
    background: white;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 0 50% 0 0;
}

.c:hover .overlay1 {
    height: 70%;
}

/* Shopping Card Size */
.size {
    opacity: 0;
    position: absolute;
    top: 12%;
    right: 10%;
    transition: all 0.5s;
}

.size ul {
    align-items: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: right;
}

.size li {
    margin-bottom: 0.6em;
    display: inline-block;
}

.size a {
    font-size: 0.8rem;
    transition: all 0.5s;
    text-decoration: none;
    color: black;
}

.c:hover .size {
    opacity: 1;
}

.size a:hover {
    text-shadow: 0 0 0.5rem #32A564;
    color: white;
}

/* -----------------------------------FOOTER-------------------------------------*/
footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    background: linear-gradient(-45deg, #00093c, #2d0b00);
    background-repeat: no-repeat;
    padding: 0 10% 10% 10%;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    height: 25rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#footlogo h2 {
    font-family: "Water Brush", cursive;
    font-size: 6rem;
    color: white;
    cursor: default;
    margin-bottom: -5%;
}

#contact {
    cursor: default;
    width: 14rem;
    color: white;
    padding-top: 18%;
}

#contact_numer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact_numer span {
    text-align: right;
}

#contact_email {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact_email span {
    text-align: right;
}

#newsletter {
    cursor: default;
    color: white;
    padding-top: 22%;
}

.separator {
    width: 100%;
    display: block;
}

#email {
    border-radius: 0.5rem;
    border: none;
    width: 19rem;
    height: 1.25rem;
    text-align: left;
    padding: 0.5rem;
    cursor: text;
    margin: 0.25rem;
}

#submit {
    border-radius: 0.5rem;
    border: none;
    width: 10rem;
    height: 2.5rem;
    text-align: left;
    cursor: pointer;
    background-color: #A64B2A;
    color:hsl(207, 100%, 98%);
    transition: 0.3s;
    text-align: center;
}

#submit:hover {
    box-shadow: 0 0 0.5rem #A64B2A;
    opacity: 0.6;
    cursor: pointer;
}

#contact a {
    padding: 0 4%;
}

.contact_ico {
    width: 2.5rem;
    height: 2.5rem;
    filter: brightness(0) invert(1);
    transition: 0.3s;
    cursor: pointer;
}

.contact_ico:hover {
    filter: none;
}

/* -----------------------------------CREDITS-------------------------------------*/
#credits {
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    cursor: default;
}

/* -----------------------------------MEDIA QUERIES-------------------------------------*/

@media screen and (max-width: 550px) {
    .paginator {
        margin-bottom: 3rem;
    }
    
    .filter {
        transform: translateY(3.5rem);
        left: 46.5%;
    }
}

@media screen and (max-width: 950px) {
    .nav {
        display: flex;
        align-items: center;
        flex-flow: column;
        text-align: center;
        justify-content: space-evenly;
        flex-wrap: wrap-reverse;
    }

    .navl {
        font-size: 1rem;
    }

    #login {
        margin: -0.175rem 0.5rem 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 2rem;
    }

    #logo {
        font-size: 7rem;
    }

    #shopnow {
        margin-bottom: 1rem;
        width: 12.5rem;
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 1000px) {
    footer {
        height: 40rem;
    }

    #newsletter {
        width: 100%;
        display: flex;
        align-items: center;
        flex-flow: column;
        flex-wrap: wrap;
        text-align: center;
    }
    .bg1,.bg2,.bg3 {
        text-align: center;
    }
    .txt, #email, #footlogo h2, #contact_email span, #contact_number span {
        text-align: center;
    }
}