/* -----------------------------------SLIDESHOW-------------------------------------*/

@mixin flex($dir : row, $gap: 0rem) {
    display: flex;
    flex-direction: $dir;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin bg($url : '') {
    background-image: url($url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slideshow {
    display: flex;
    justify-content: space-evenly;
    height: 31rem;
    width: auto;
}

.slider {
    display: none;
    height: 31rem;
    animation: fade 1.5s linear;
    transition: all 0.5s;
}

.slider img {
    width: 100%;
}


@keyframes fade {
    from {
        opacity: 0.5;
    } 
    to {
        opacity: 1;
    }
}